@charset "utf-8:";

.footer {
  margin-top: 50px;
  padding-bottom: 50px;
  background: #000;

  .sec-title {
    display: inline-block;
    margin-top: 50px;
    color: #FFF;
  }

  .contact-wrapper {
    max-width: 1240px;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
    color: #FFF;

    .text-area {
      width: 45%;
      text-align: left;

      p:nth-child(2),
      p:nth-child(3) {
        margin-top: 50px;
      }
    }

    .form-area {
      display: flex;
      flex-wrap: wrap;
      width: 45%;
      text-align: left;


      dt {
        width: 100%;
      }

      dd {
        width: 100%;

        input,
        textarea {
          width: 100%;
          height: 90%;
          border: 1px solid #FFF;
          background: #FFF;
        }
      }
    }
  }
}

